/*
      Grid 
-------------------------------

*/

.bloc-mini {
  float: left;
  width: 100%;
}

@structure {
  width:    var(--structure-width);     
  gutter:   var(--structure-gutter);   
  padding:  var(--structure-padding);  
  max:      var(--structure-max);        
  min:      var(--structure-min);        
  thumb:    var(--structure-thumb);
  display:  var(--structure-display);
  align:    var(--structure-align);
  columns:  var(--structure-columns);
  blocs:    var(--structure-blocs);  
}
