/*
      postcss-s-grid
-------------------------------

https://github.com/francoisromain/postcss-s-grid

*/

@s-grid {
  unit: var(--s-grid-unit);
  gutter: var(--s-grid-gutter);
  padding: var(--s-grid-padding);
  max: var(--s-grid-max);
  min: var(--s-grid-min);
  display: var(--s-grid-display);
  align: var(--s-grid-align);
}
