/*
      postcss-grid-system
-------------------------------

https://github.com/francoisromain/postcss-grid-system

*/

@gs {
  width: var(--gs-width);
  gutter: var(--gs-gutter);
  padding: var(--gs-padding);
  max: var(--gs-max);
  min: var(--gs-min);
  display: var(--gs-display);
  align: var(--gs-align);
}
