/*
      postcss-sstm-grid
-------------------------------

https://github.com/francoisromain/postcss-sstm-grid

*/

@sstm-grid {
  unit: var(--sstm-grid-unit);
  gutter: var(--sstm-grid-gutter);
  padding: var(--sstm-grid-padding);
  max: var(--sstm-grid-max);
  min: var(--sstm-grid-min);
  display: var(--sstm-grid-display);
  align: var(--sstm-grid-align);
}
