/*
      Lists
-------------------------------

*/

ul,
ol,
dd {
  list-style-position: inside;
}

li {
  & > ul,
  & > ol {
    margin-bottom: 0;
  }
}

.list-dash .list-dash {
  margin-left: var(--base-unit);
}

.list-sans {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    margin-bottom: var(--base-unit-xxs);
    margin-right: var(--base-unit-xxs);
    float: left;
  }
}

.list-space li {
  margin-right: var(--base-unit);
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  &.list-inline {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

.list-prefix {
  list-style: none;
  & > li:before {
    content: var(--list-prefix);
    margin-right: var(--base-unit-xs);
    color: var(--color-neutral);
  }
}

.list-postfix {
  list-style: none;
  & > li {
    &:after {
      content: var(--list-postfix);
    }
    &:last-child:after {
      content: none;
    }
  }
}
