/*
    Reset
------------------------------- 

*/


/*
  css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
  paulirish.com/2012/box-sizing-border-box-ftw
 */

html,
* {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}


/*

From Inuit.css
https://github.com/inuitcss/base.page/blob/master/_base.page.scss

 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
*/

html {
  font-size: var(--base-font-size);
  line-height: var(--base-unit);
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-y: scroll;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */
  text-rendering: optimizeLegibility;
}


/*
  Remove margins 
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}


/*
  `margin-bottom` as base line-height
*/

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
hr {
  margin-bottom: calc(var(--base-unit) * var(--baseline-margin-bottom));
}

abbr[title],
dfn[title] {
  cursor: help;
}

u,
ins {
  text-decoration: none;
}

ins {
  border-bottom: 1px solid;
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  height: auto;
  outline: 0;
  border: 0;
}

/* remove yellow bg on automplete in chrome */
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* remove round corner on iOs */

input:not([type="radio"]):not([type="checkbox"]), select {
    -webkit-appearance: none;
    border-radius: 0;
}

/*
 Firefox bug where `input type="submit"` gains 2px extra padding.
*/
button::-moz-focus-inner {
  border:              0;
  padding:             0;
}

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it;
 *    use their selector to remove the effects.
 */

.gm-style img {
  max-width: none;
}


