/*
    Settings
------------------------------- 

*/

/*
    Debug trick 
------------------------------- 
    Un-comment to see in action
    http://qr.ae/ROqymT
*/

/*
 * { background-color: rgba(255,0,0,.2); }
 * * { background-color: rgba(0,255,0,.2); }
 * * * { background-color: rgba(0,0,255,.2); }
 * * * * { background-color: rgba(255,0,255,.2); }
 * * * * * { background-color: rgba(0,255,255,.2); }
 * * * * * * { background-color: rgba(255,255,0,.2); }
*/

:root {

  --base-font-size:           1rem;
  --base-baseline:            1.5rem;

/*
    Colors
------------------------------- 
*/

  --color-text:                #666;
  --color-bg:                  white;
  --color-transparent:         rgba(248, 247, 243, 0);
  --color-inverse:             #3d3d35;
  --color-neutral:             #bcb9af;
  --color-alt:                 #f8f7f3;
  --color-brand:               #C19A25;
  --color-error:               #E82239;
  --color-warning:             #FF891C; 
  --color-info:                #5798AA; 
  --color-success:             #6EA040; 

/*
    Spacing
------------------------------- 
*/

  --base-unit:                 var(--base-baseline);                /* 1.5    rem  = 24 px  */
  --base-unit-line:            calc(var(--base-baseline) / 24);     /* 0.0625 rem  = 1  px  */
  --base-unit-xxs:             calc(var(--base-baseline) / 6);      /* 0.25   rem  = 4  px  */
  --base-unit-xs:              calc(var(--base-baseline) / 3);      /* 0.5    rem  = 8  px  */
  --base-unit-s:               calc(var(--base-baseline) / 2);      /* 0.75   rem  = 12 px  */
  --base-unit-m:               calc(var(--base-baseline) * 2/3);    /* 1      rem  = 16 px  */ 
  --base-unit-l:               calc(var(--base-baseline) * 3/2);    /* 2.25   rem  = 36 px  */
  --base-unit-xl:              calc(var(--base-baseline) * 2);      /* 3      rem  = 48 px  */
  --base-unit-xxl:             calc(var(--base-baseline) * 2.5);    /* 2.5    rem  = 60 px  */
  --base-margin-bottom:        var(--base-baseline);
/*
    Text sizes
------------------------------- 
 typographic scale and vertical rhythm:
 cf http://type-scale.com/ or http://www.gridlover.net/app/

*/

  --text-xs:          calc(5/8)rem;   --baseline-xs:         calc(var(--base-baseline) / 2);       /* 10px / 12px */
  --text-s:           calc(3/4)rem;   --baseline-s:          var(--base-baseline);                 /* 12px / 24px */
  --text-m:           calc(1)rem;     --baseline-m:          var(--base-baseline);                 /* 16px / 24px */
  --text-l:           calc(5/4)rem;   --baseline-l:          var(--base-baseline);                 /* 20px / 24px */
  --text-xl:          calc(3/2)rem;   --baseline-xl:         calc(var(--base-baseline) / 1.5);     /* 24px / 36px */
  --text-xxl:         calc(2)rem;     --baseline-xxl:        calc(var(--base-baseline) / 1.5);     /* 24px / 36px */
  --text-lead:        var(--text-l);  --baseline-lead:       var(--baseline-l);                    /* 20px / 36px */
  --text-blockquote:  var(--text-l);  --baseline-blockquote: var(--baseline-l);                    /* 20px / 24px */

  

/*
    Buttons
------------------------------- 
*/

  --btn-radius:                  var(--base-unit-xs);
  
  --btn-color:                   var(--color-brand);
  --btn-color-bg:                var(--color-transparent);
  --btn-color-active:            var(--color-alt);
  --btn-color-bg-active:         var(--color-brand);
  
  --btn-alt-color:               var(--color-bg);
  --btn-alt-color-bg:            var(--color-neutral);
  --btn-alt-color-active:        var(--color-bg);
  --btn-alt-color-bg-active:     var(--color-brand);
  
  --btn-flash-color:             var(--color-bg);
  --btn-flash-color-bg:          var(--color-brand);
  --btn-flash-color-active:      var(--color-bg);
  --btn-flash-color-bg-active:   var(--color-inverse);
  
  --btn-b-width:                 var(--base-unit-line);
  --btn-b-style:                 solid;
  --btn-b-color:                 var(--color-text);
  --btn-b-color-bg:              var(--color-bg);
  --btn-b-color-border:          var(--color-alt);
  --btn-b-color-active:          var(--color-inverse);
  --btn-b-color-bg-active:       var(--color-bg);
  --btn-b-color-border-active:   var(--color-inverse);


/*
    Lists
------------------------------- 
*/   

  --list-postfix: ",";
  --list-prefix: "―";

/*
    Grid
------------------------------- 
  breakpoints formula 

  for (col = min; col <= max; col ++) {
    containerWidth = (width * col) - gutter + (padding * 2);
  }

*/

  --structure-width:    18.75;  
  --structure-gutter:   1.5; 
  --structure-padding:  1.5;
  --structure-max:      6;    
  --structure-min:      2;    
  --structure-thumb:    3;
  --structure-display:  "float";
  --structure-align:    "center";
  --structure-columns:  0;
  --structure-blocs:    1;

  --pad:    1rem;

}