/*
    Table
-------------------------------
*/

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

th {
  text-align: left;
  font-weight: 700;
}

tr {
  border-bottom: var(--table-border-width) var(--table-border-style) var(--table-border-color);
}

td,
th {
  vertical-align: top;
  word-wrap: break-word;
  padding-top: var(--table-pad);
  padding-bottom: calc(var(--table-pad) - var(--table-border-width));
}
