/*
      Lists
-------------------------------

*/

ul, ol, dd {
		list-style-position: inside;
}

li {
  > ul,
  > ol {
      margin-bottom: 0;
  }
}

.list-dash {
  list-style: none;

	> li:before {
	  content: "―";
	  margin-right: .5rem;
	  color: $color-neutral;
	}
	> li:empty {
   display: none;
	}
}

.list-dash .list-dash {
  margin-left: $base-unit * 1rem;
}

.list-sans {
    margin:  0;
    padding: 0;
    list-style: none;
}

%list-inline {
  margin:  0;
  padding: 0;
  list-style: none;

  > li {
      margin-bottom: $base-unit-xxs * 1em;
      margin-right: $base-unit-xxs * 1em;
      float: left;
  }
}

.list-inline {
  @extend %list-inline;
}

.list-inline-spaced {
    @extend %list-inline;

    > li {
        margin-right: $base-unit * 1em;
    }
}

ol {
	list-style-type:decimal;
	list-style-position:inside;


  &.list-inline {
    list-style-type: decimal;
    list-style-position: inside;
  }
}

.list-separator {
  list-style: none;

    > li {
        &:after {
            content: "#{$list-inline-sep}";
        }
        &:last-child:after {
            content: none;
        }
    }

}
