/*
    UI elements 
------------------------------- 

*/

.tooltip {
  position: relative;
}

.tooltip span {
  position: absolute;
  color: 		$color-alt;
  background:	$color-neutral;
  text-align:	center;
  border-radius: $base-unit-xs * 1rem;
  top: -2px;
  right: 0;
	padding: 2px 12px;
	z-index: 999;
}

.tooltip span:after {
  content: '';
  position: absolute;
  top: 100%;
  right: $base-unit * 1rem;
  border-top: $base-unit-xs * 1rem solid $color-neutral;
  border-right: $base-unit-xs * 1rem solid transparent;
  border-left: $base-unit-xs * 1rem solid transparent;
}

.alert {
  width: 100%;
  padding: 8px 12px;
  font-style: italic;
}

.alert-info {
  color: $color-bg;
  background: $color-info;
}

.alert-error {
  color: $color-bg;
  background: $color-error;

}

.alert-warning {
  color: $color-bg;
  background: $color-warning;

}

.alert-success {
  color: $color-bg;
  background: $color-success;
}

.label {
	padding: 0 0.8em;
	text-align: center;
	color: $color-bg;
	background-color: $color-neutral;
}

.label-color {
	background-color: $color-brand;
}

.label-s-color {
  padding: 0.2em 0.6em 0.25em 0.5em;
  text-align: center;
  color: $color-bg;
  background-color: $color-brand;
}
