/*
    Utils
------------------------------- 

*/

.clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.hide {
	display: none;
	visibility: hidden;
}
.left {
  float: left;
}
.right {
	float: right;
}
.full-width {
	float: left;
	width: 100%;
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img-left {
  float: left;
  margin-right: $gutter * 1rem;
  max-width: $col-width * 1rem;
}

.img-right {
  float: right;
  margin-left: $gutter * 1rem;
  max-width: $col-width * 1rem;
}

.capitalize {
	text-transform: capitalize;
}

.pointer {
	cursor: pointer;
}

.strikethrough {
  color: $color-neutral;
  text-decoration: line-through;
}

.relative {
	position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pad {
  padding: $base-unit-m * 1rem;
}

.pad-h {
  padding-right: $base-unit-m * 1rem;
  padding-left: $base-unit-m * 1rem;
}

.color-brand {
  color: $color-brand;
}

.color-alt {
  color: $color-alt;
}

.color-neutral {
  color: $color-neutral;
}

.bg-default {
  background-color: $color-bg;
}

.bg-brand {
  background-color: $color-brand;
}

.bg-alt {
  background-color: $color-alt;
}

.bg-neutral {
  background-color: $color-neutral;
}
