/*
    Theme
------------------------------- 

*/

html {
  background-color: var(--color-bg);
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}

.page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: var(--base-unit-xl);
}

.page .push-footer {
  height: var(--base-unit-xl);
}

.footer {
  clear: both;
  position: relative;
  height: var(--base-unit-xl);
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: var(--color-inverse);
  &:hover {
    color: var(--color-brand);
  }
  &:active {
    color: var(--color-brand);
  }
  &:visited {
    color: var(--color-inverse);
  }
  &:focus {
    color: color-brand;
  }
}

h1,
.xxl,
h2,
.xl,
h3,
.l,
h4,
.m {
  letter-spacing: -0.01em;
  font-weight: 700;
}

h6,
.xs {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

blockquote {
  color: var(--color-inverse);
}

b,
strong,
.strong {
  font-weight: 700;
}