/*
    Theme
------------------------------- 

*/

body,
html {
  height: 100%;
}

.page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: var(--base-unit-xl);
}

.page .push-footer {
  height: var(--base-unit-xl);
}

.footer {
  clear: both;
  position: relative;
  height: var(--base-unit-xl);
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: var(--color-inverse);
  &:visited {
    color: var(--color-inverse);
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--color-brand);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  font-weight: 700;
}

b,
strong,
.strong {
  font-weight: 700;
}
