@import "settings.css";
@import "../structure.css/structure.css";

/*
    Theme
------------------------------- 

*/

.container {
  structure: container;
}

.bloc-2-6 {
  structure: bloc 2-6;
}


/* 
    Sticky footer
------------------------------- 

http://mystrd.at/modern-clean-css-sticky-footer/
*/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 5rem;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: var(--color-inverse);
  &:visited {
    color: var(--color-inverse);
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--color-brand);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  font-weight: 700;
}

b,
strong,
.strong {
  font-weight: 700;
}

header {
  padding-top: var(--base-unit-xl);
}

.bloc-mini {
  float: left;
  width: 100%;
}

.bloc-left {
  float: left;
  clear: none;
}

.img-left {
  float: left;
  margin-right: var(--structure-gutter);
  max-width: var(--structure-unit);
}

.img-right {
  float: right;
  margin-left: var(--structure-gutter);
  max-width: var(--structure-unit);
}

html.grid {
  background-size: var(--structure-unit) calc(var(--base-unit) /2);
  background-position: center top;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05) .01rem, transparent .09rem), linear-gradient(90deg, rgba(255, 0, 0, 0.25) 0, transparent 0.25%), linear-gradient(90deg, transparent 50%, rgba(255, 0, 0, 0.25) 50%, transparent 50.25%)
}
